{% extends "predict/layout.html" %}
    {% block content %}
        {% load static %}

        <h2><i class="fas fa-info"></i> Property Information</h2>
        <div class="detail-home-container">

            <div class="search-home-img-container">
                <img id="detail-home-img-expand" src="/{{ home.image }}" alt="">
                <img class="search-home-img" src="/{{ home.image }}" alt="">
                <i class="fas fa-search"></i>
            </div>

            <div class="detail-home-info-container">
                <div>
                    <div class="detail-home-info">
                        <p><i class="far fa-calendar-alt"></i> Published at: {{ home.strip_time_from_date }}</p>
                    </div>

                    <div class="detail-home-info">
                        <p> <i class="far fa-address-card"></i> Managed By: {{home.agent.first_name}} {{home.agent.last_name}} - {{home.agent.email}}</p>
                    </div>

                    <div class="detail-home-info">
                        <p><i class="fas fa-dollar-sign"></i> Sale Price: ${{ home.SalePrice }}</p>
                    </div>
                </div>

                <div>
                    <div class="detail-home-info">
                        <p><i class="fas fa-map-marker-alt"></i> Address: {{ home.address }}</p>
                    </div>

                    <div class="detail-home-info">
                        <p><i class="fas fa-angle-right"></i> Bedrooms: {{ home.Bedroom }}</p>
                    </div>

                    <div class="detail-home-info">
                        <p><i class="fas fa-angle-right"></i> Kitchens: {{ home.Kitchen }}</p>
                    </div>

                    <div class="detail-home-info">
                        <p><i class="fas fa-angle-right"></i> Lot Size sq.ft: {{ home.LotArea }}</p>
                    </div>

                    <div class="detail-home-info">
                        <p><i class="fas fa-angle-right"></i> 1st Floor sq.ft: {{ home.FirstFlrSF }}</p>
                    </div>

                    <div class="detail-home-info">
                        <p><i class="fas fa-angle-right"></i> 2nd Floor sq.ft: {{ home.SecondFlrSF }}</p>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
