
<div id="header">
    <div id="header-img-div">
        {% load static %}
        <a href="/predict/">
            <img id="header-img" src="{% static 'predict/header.png' %}" alt="" >
        </a>
    </div>

    <nav id="nav-bar">
      <div id="nav-list">
        <a href="/predict/">
            <i class="fas fa-home" style="font-size:22px"></i>
            Home
        </a>


        <a href="/predict/estimate">
            <i class="fas fa-chart-bar" style="font-size:22px"></i>
            Estimate
        </a>


        <a href="/predict/browse">
            <i class="fas fa-clipboard-list" style="font-size:22px"></i>
            Browse
        </a>
      </div>
    </nav>
  </div>
