{% extends "predict/layout.html" %}
    {% block content %}
        <h1><i class="fas fa-home"></i> Welcome</h1>
        <h4 class="index-text-element">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacus ipsum, volutpat ut magna non, egestas semper lectus.
        </h4>
        <br>
        <h4 class="index-text-element">
             Ut non luctus est. Fusce sed rutrum ex. Duis egestas, ligula nec ornare molestie, mauris felis aliquet ipsum, quis faucibus mi sem ac mauris. Nulla facilisi. Curabitur tempor, ex quis convallis ornare, justo justo tristique sapien, eget ullamcorper velit justo eu augue.
        </h4>
        <br>

        <h4 class="index-text-element">
           Fusce finibus eget nunc gravida ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque egestas odio quis maximus pellentesque. Proin ac ligula viverra, tincidunt odio vulputate, eleifend leo. In tincidunt commodo interdum. Suspendisse potenti.
        </h4>
        <br>

        <div class="grid-container">
            <div class="index-box-container">
                <a href="/predict/browse">
                    <i class="fas fa-clipboard-list" style="font-size:100px"></i>
                    <h4>Browse homes</h4>
                </a>
            </div>

            <div class="index-box-container">
                <a href="/predict/estimate">
                    <i class="fas fa-chart-bar" style="font-size:100px"></i>
                    <h4>Get an estimate</h4>
                </a>
            </div>
        </div>

    {% endblock %}
